/** @format */

//弹出框样式
.detail_box {
  li {
    list-style: none;
  }

  table {
    font-size: 12px;
  }

  thead td {
    font-weight: 600;
  }
}

.ant-modal-footer .cancelBtn {
  display: none;
}
