$maincolor: #3d7bc7;

.applyBox{
  height: 100%;
  position:relative;
  .card-container,  .adm-tabs{
    height: 100%;
  }
  .adm-tabs-tab-wrapper .adm-tabs-tab-wrapper-stretch{
    background-color: pink;
    border-radius: 30px;
  }
  .adm-tabs-header{
    background-color: #fff;
    padding:5px 0;
  }
  .adm-tabs-tab{
    font-size: 14px;
    padding:0px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    height:35px;
    line-height: 35px;

  }
  .adm-tabs-tab-active{
    color: #fff;
    background-color: #5887ce;
  }
  .adm-tabs-content{
    padding-left: 5px;
  }
}