.aboutUsBox{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .mainBox{
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h4{
      margin-bottom:20px;
      font-weight: 700;
      font-size: 15px;
    }
    .imageBox{
      width: 90px;
      height: 90px;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom:20px;
      img{
        width: 90px;
        height: 90px;
      }
    }
    .infoItem{
      margin:5px 0;
      color:#555;
      :nth-child(1){
        color:#000;
        font-weight: 400;
      }
      a{
        font-style: none;
        color:#555;
      }
    }
  }
}